.box1 {
  background-color: #bfa;
}
.box1 .box2 {
  background-color: green;
}
.box1 .box2 .box4 {
  color: red;
}
.box1 .box3 {
  background-color: orange;
}
.box5 {
  width: 200px;
  color: #bfa;
}
box6 {
  width: 200px;
  background-image: url("box6/1.png");
}
.box6 {
  width: 300px;
  height: 300px;
}
